:root {

    /* Attributes */

body {
    font-family: "Outfit", sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

h1 {
    color: hsl(218, 44%, 22%);
}

p {
   color: hsl(216, 15%, 48%);
   font-size: 15px;
   padding: 0 1.5rem;
   letter-spacing: .3px;
   line-height: 1.5;
}

/* Classes */

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.qr-code {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

}

.qr-code__container {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: 1.2rem;
    border-radius: 1.2rem;
    width: 300px;

}

.qr-code__image-wrapper {
    display: flex;
    border-radius: .6rem;
    overflow: hidden;
    max-width: 300px;
}

.qr-code__image {
    width: 100%;
}

}