body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  position: relative;
}

h1 {
  font-size: 5rem;
  text-align: center;

}

footer {
  text-align: right;
  color: midnightblue;

}

.card {
  border: 10px solid red;
  max-width: 40%;
  display:inline-block;
  position: absolute;

}

.left {
  left: 2%;
}

.right {
  right: 2%;

}

img {
  max-width: 300px;
  float: left;
  margin-right: 1rem;
}

@media (max-width: 941px) {
  .card {
    display: block;
    position: relative;
    text-align:center;
    width: 500%;
    margin-left: 25%;
  }

  .left {
    left: 0;
  }

  .right {
    margin-top: 3rem;
    right: 0;
  }


  img {
    float: none;
    margin: 0;
    max-width: 200px;
  }
}
